body {
    font-family: 'Roboto', sans-serif;
    color: #453C41;
    font-weight: 300;
    height: 100%;
    width:100%;
    background-color:#fefdf8;
    margin: 0px;
}

/* TIFFANY */


#search-container {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 175px;
    width: 500px;
    margin: 0px auto;
    text-align: center;

}

#CLheader {
    font-size: 50px;
    font-weight: 700;
    color: #847b82;

}
#sub-CLheader {
    font-size: 15px;
    font-weight: 300;
    color: #847b82;

}


#search-bar {
    position: relative;
    margin: 0 auto;
    top: 10px;
    width: 375px;
    height: 30px;
    color: #847b82;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #d2d6b9;
    padding: 5px 5px;

}

#keyword {
    font-style: italic;
    font-weight: 300;
    padding: 10px;
    letter-spacing: 1px;
    color: #91908f;
    opacity: .7;
    padding: 5px 10px;
    float: left;
}

.categorybox {
    background-color: #d2d6b9;
    padding: 5px 15px 7px 15px;
    float: right;

}

.list-title {
    color: white;
    font-weight: 100;
    font-size: 11px;
    letter-spacing: 1px;

}

#container {
    position: relative;
    padding: 0px 140px

}

#background {
    width: 100%;
    height: 100%;


}

#bigsearch {
    vertical-align:middle;
    float: left;
    height: 30px;
}

#title {
    font-size: 48px;
    font-weight: 300;
}

#title-logo {
    width: 48px;
    margin-top: 2px;
    margin-right: 4px;
    float: 2;

}


#header-container {
    background-color: #eff7d8; 
    width: 100%;
    height: 80px;
}

#dropdownn {
    vertical-align:middle;
    padding: 15px 2px 0px 2px;

}

.dropdown {
    height: 7px;
}

#headercontent {
    padding: 0px 0px;
    position: absolute;
    top: 17px;
    right:35px;
}

#thumbnail {
    width: 50px;
    border-radius: 50%;
    float: left;
    top:9%;

}

#login{
    float: left;
    padding: 10px;
}


.category-container {
    padding: 0px 50px 100px 70px;
    position: relative;
    top: 220px;
    width: 900px;
    height: 100%;
    display: inline-block;
}

#blocks {
	font-size: 18px;
	font-weight: 100;
	color: #ee3a4b;
}

#blocks {
 	position: relative;
 	top: 200px;
 	padding: 0px 70px;

}

.pics {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	z-index: -1;
}

.category {
	margin: 10px;
	display: inline-block;
	position: relative;
	width: 400px;
	height: 270px;
}

.names {
	color: white;
	position: relative;
	z-index: 2;
	text-align: center;
	top: calc(50% - 33px/2);
	text-transform: uppercase;
	font-weight: 300;
	font-size: 25px;
	letter-spacing: 4px;
}

#footer {
	background-color: #ee3a4b; 
    width: 100%;
    position: relative;
    bottom: 0px;
    height: 80px;
    margin-top: 150px;

}

#tabs {
	float: left;
	margin-left: 200px;
	margin-top: 25px;


}

.item {
	display: inline-block;
	color: #ffffff;
	padding: 0px 40px 0px 0px;
	font-size: 15px;
}
#langcurr {
	color: #ffffff;
	font-size: 13px;
	float: left;
	margin-top: 18px
}

